.metadata
.DS_Store
.project
STM32Cube_FW_G4_V1.6.0

0_led_toggle_addr/*
!0_led_toggle_addr/Core/
0_led_toggle_addr/Core/*
!0_led_toggle_addr/Core/Src
0_led_toggle_addr/Core/Src/*
!0_led_toggle_addr/Core/Src/main.c

1_led_toggle_addr_struct/*
!1_led_toggle_addr_struct/Core/
1_led_toggle_addr_struct/Core/*
!1_led_toggle_addr_struct/Core/Src
1_led_toggle_addr_struct/Core/Src/*
!1_led_toggle_addr_struct/Core/Src/main.c

2_gpio_output/*
!2_gpio_output/Src
2_gpio_output/Src/*
!2_gpio_output/Src/main.c

!2_gpio_output/Inc
2_gpio_output/Inc/*
!2_gpio_output/Inc/main.h

3_gpio_bsrr/*
!3_gpio_bsrr/Src
3_gpio_bsrr/Src/*
!3_gpio_bsrr/Src/main.c

!3_gpio_bsrr/Inc
3_gpio_bsrr/Inc/*
!3_gpio_bsrr/Inc/main.h

I2C_using_hal/*
!I2C_using_hal/Core/
I2C_using_hal/Core/*
!I2C_using_hal/Core/Src
I2C_using_hal/Core/Src/*
!I2C_using_hal/Core/Src/main.c
!I2C_using_hal/Core/Src/lcd_screen_lib.c

!I2C_using_hal/Core/Inc
I2C_using_hal/Core/Inc/*
!I2C_using_hal/Core/Inc/main.h
!I2C_using_hal/Core/Inc/lcd_screen_lib.h

I2C_bare_metall/*
!I2C_bare_metall/Core/
I2C_bare_metall/Core/*
!I2C_bare_metall/Core/Src
I2C_bare_metall/Core/Src/*
!I2C_bare_metall/Core/Src/main.c
!I2C_bare_metall/Core/Src/lcd_screen_lib.c
!I2C_bare_metall/Core/Src/i2c_lib.c

!I2C_bare_metall/Core/Inc
I2C_bare_metall/Core/Inc/*
!I2C_bare_metall/Core/Inc/main.h
!I2C_bare_metall/Core/Inc/lcd_screen_lib.h
!I2C_bare_metall/Core/Inc/i2c_lib.h

I2C_bare_metall_test/*