.metadata
.DS_Store
.project
0_led_toggle_addr/*
!0_led_toggle_addr/Core/
0_led_toggle_addr/Core/*
!0_led_toggle_addr/Core/Src
0_led_toggle_addr/Core/Src/*
!0_led_toggle_addr/Core/Src/main.c

1_led_toggle_addr_struct/*
!1_led_toggle_addr_struct/Core/
1_led_toggle_addr_struct/Core/*
!1_led_toggle_addr_struct/Core/Src
1_led_toggle_addr_struct/Core/Src/*
!1_led_toggle_addr_struct/Core/Src/main.c

I2C_using_hal/*
!I2C_using_hal/Core/
I2C_using_hal/Core/*
!I2C_using_hal/Core/Src
I2C_using_hal/Core/Src/*
!I2C_using_hal/Core/Src/main.c
!I2C_using_hal/Core/Src/lcd_screen_lib.c

!I2C_using_hal/Core/Inc
I2C_using_hal/Core/Inc/*
!I2C_using_hal/Core/Inc/main.h
!I2C_using_hal/Core/Inc/lcd_screen_lib.h